<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Blood_Donation.Properties.Settings.UserConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\User.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Blood_Donation.Properties.Settings.Blood_DonationConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Blood_Donation.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Blood_Donation.Properties.Settings.blood_donation_databaseConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\blood_donation_database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Blood_Donation.Properties.Settings.blood_donation_databaseConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\blood_donation_database.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>